# Ignore build folder
build/
bin/

# Ignore all dot folders, with below exceptions
.*/

# VSCode
.vscode

# MacOS file
.DS_Store

# Ignore product directories
smart_shaver/
projects/acc_data/
projects/battery_monitor/
projects/hair_dryer/
projects/cheetah/
projects/slide_player/